/*************************************************
    RESET
*************************************************/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*************************************************
    GENERAL STYLES
*************************************************/

body{
    font-family: 'Montserrat', sans-serif;     
}

/************************************************
    CUSTOM PROPERTIES
************************************************/

 :root{
 
    /* COLOR BACKGROUND*/
   
       --first-color:#006CFA;
       --second-color:#00E165;
   
    /* COLOR TEXT */ 
   
       --first-text:#FFFFFF;
       --second-text:white;
       --third-text:#6A6A6A;
   }
   
/************************************************
    UTILITIES
************************************************/
 
/* 
    LAYOUT 
*/

 
/************************************************
    SITE SECTIONS
************************************************/

/*
   HEADER
*/


/*
   MAIN
*/


/* 
    FOOTER
*/


  

/************************************************
    SOLUZIONE RESPONSIVE-MEDIA-QUERY MOBILE-FIRST
************************************************/

/* 
    MOBILE BIG 
*/

@media screen and (min-width:576px){

    /* COLUMNS */

    

}


/* 
  TABLET
*/

@media screen and (min-width:768px){
     
    /*  COLUMNS  */



}

/*
  DESKTOP
*/
 
@media screen and (min-width:992px){

    /*  COLUMNS  */



}



/*************************************************
    SOLUZIONE RESPONSIVE-MEDIA-QUERY DESKTOP-FIRST
*************************************************/




/*************************************************
    DEBUG
*************************************************/
    
    
    
